# Unity generated
Streamer University/Library/
Streamer University/Temp/
Streamer University/Obj/
Streamer University/Logs/
Streamer University/UserSettings/
Streamer University/Builds/
Streamer University/.vs/
Streamer University/.idea/

# Rider / VS / VSCode chatter
.vscode/
*.csproj
*.sln
*.suo
*.user
*.unityproj
*.pidb
*.sln*
*.userprefs

# OS cruft
.DS_Store
Thumbs.db
